@import "../../styles";

.stat-number {
  color: $blue-soft;
  margin: -0.625rem 1.5rem 1.875rem 0;
  display: inline-block;
  line-height: normal;
  vertical-align: top;
  width: 3.75rem;
  text-align: center;
}

.upwork-columns {
  margin: 3.75rem 0;
  justify-content: center;
  align-items: flex-end;

  > div {
    flex: 0 0 21.25rem;
    padding: 0 3.125rem;
    box-sizing: content-box;

    &:last-child {
      flex: 0 0 240px;
    }
  }
}

.is-left-column {
  flex-direction: column;
  align-items: center;

  .has-top-border {
    letter-spacing: 0.125rem;
    padding: 0.625rem 0.1875rem 0;
    border-top: 0.3125rem solid $blue-lighter;
    margin-top: 1.875rem;
    color: $blue-lighter;
  }

  > p {
    line-height: 1.875rem;
  }
}
.is-right-column {
  ul {
    list-style: none;

    li {
      display: flex;
      justify-content: space-between;
    }
  }

  .button {
    border-radius: 0.3125rem;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
    padding-top: 0.6875rem;
    padding-bottom: 0.6875rem;
    margin-top: 3.75rem;
  }
}
