@import "../../../styles";

.breadcrumb {
  background-color: $blue-soft;
  padding: 1.125rem 0.625rem;
  margin-bottom: 5rem;
  li {
    & + li::before {
      display: none;
    }
    &.is-active a {
      color: $blue;
    }
  }
  svg {
    color: $primary;
    font-size: 17px;
    margin: 0 1.875rem;
  }
  a {
    @extend .has-text-weight-bold, .is-uppercase;
    color: white;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: $primary;
    }
  }
}
