<header class="is-info navbar is-fixed-top {{ isFixed && 'is-fixed' }}">
  <div class="container is-fluid">
    <div class="navbar-brand">
      <a class="navbar-item">
        <svg id="COAX_Software" version="1.1" viewBox="0 0 215 51" x="0px" xmlns="http://www.w3.org/2000/svg" y="0px" class="logo_hover">
          <g id="COAX">
            <g id="A">
              <path d="M111.5,41.2V24c0-9.7,7.8-17.5,17.5-17.5c9.7,0,17.5,7.8,17.5,17.5v17.2"></path>
              <line x1="111.8" x2="146.1" y1="29" y2="29"></line>
            </g>
            <g id="X">
              <line x1="163.3" x2="198.6" y1="6" y2="41.3"></line>
              <line x1="163.3" x2="198.5" y1="42.3" y2="7.2"></line>
            </g>
            <g id="CO">
              <path d="M50,23.8c0,0,13.5-13.6,19.8-16.2c2-0.8,4.3-1.3,6.6-1.3c9.7,0,17.5,7.8,17.5,17.5 s-7.8,17.5-17.5,17.5c-2.3,0-4.6-0.5-6.6-1.3C63.5,37.4,50,23.8,50,23.8S36.5,10.2,30.1,7.6c-2-0.8-4.3-1.3-6.6-1.3 C13.8,6.3,6,14.2,6,23.8s7.8,17.5,17.5,17.5c2.4,0,4.6-0.5,6.6-1.3C36.5,37.4,50,23.8,50,23.8z" id="CO_light"></path>
              <path d="M50,23.8c0,0,13.5-13.6,19.8-16.2c2-0.8,4.3-1.3,6.6-1.3c9.7,0,17.5,7.8,17.5,17.5s-7.8,17.5-17.5,17.5 c-2.3,0-4.6-0.5-6.6-1.3C63.5,37.4,50,23.8,50,23.8S36.5,10.2,30.1,7.6c-2-0.8-4.3-1.3-6.6-1.3C13.8,6.3,6,14.2,6,23.8 s7.8,17.5,17.5,17.5c2.4,0,4.6-0.5,6.6-1.3C36.5,37.4,50,23.8,50,23.8z" id="CO_dark"></path>
            </g>
          </g>
        </svg>
      </a>
      <span class="navbar-burger burger" data-target="navbarMenuHeroC">
            <span></span>
            <span></span>
            <span></span>
      </span>
    </div>
    <div id="navbarMenuHeroC" class="navbar-menu has-text-weight-semibold is-uppercase">
      <div class="navbar-end">
        <a class="navbar-item">About</a>
        <a class="navbar-item">Development</a>
        <a class="navbar-item">Career</a>
        <a class="navbar-item">Blog</a>
      </div>
    </div>
    <div class="button-box is-flex">
      <a class="button is-primary is-rounded has-text-weight-semibold is-uppercase">Get estimation</a>
    </div>
  </div>
</header>
