<div class="cards">
  <div class="cards-item">
    <img class="image" alt="icon-web_development" src="../../assets/web_development.svg">
    <h1 class="has-text-weight-semibold">WEB DEVELOPMENT</h1>
    <p>Implementing ideas to the successful solutions!</p>
    <a class="button is-rounded is-info is-inverted is-outlined is-uppercase has-text-weight-semibold">Details</a>
  </div>
  <div class="cards-item">
    <img class="image" alt="icon-web_development" src="../../assets/web_development.svg">
    <h1 class="has-text-weight-semibold">WEB DEVELOPMENT</h1>
    <p>Implementing ideas to the successful solutions!</p>
    <a class="button is-rounded is-info is-inverted is-outlined is-uppercase has-text-weight-semibold">Details</a>
  </div>
  <div class="cards-item">
    <img class="image" alt="icon-web_development" src="../../assets/web_development.svg">
    <h1 class="has-text-weight-semibold">WEB DEVELOPMENT</h1>
    <p>Implementing ideas to the successful solutions!</p>
    <a class="button is-rounded is-info is-inverted is-outlined is-uppercase has-text-weight-semibold">Details</a>
  </div>
</div>
