<div class="cards">
  <div class="cards-item">
    <img class="image" alt="icon-web_development" src="https://coaxsoft.com/images/svg/technology/web_development.svg">
    <h1 class="has-text-weight-semibold">WEB DEVELOPMENT</h1>
    <p>Implementing ideas to the successful solutions!</p>
    <a class="button is-rounded is-info is-inverted is-outlined is-uppercase has-text-weight-semibold">Details</a>
  </div>
  <div class="cards-item">
    <img class="image" alt="icon-web_development" src="https://coaxsoft.com/images/svg/technology/mobile_development.svg">
    <h1 class="has-text-weight-semibold">MOBILE DEVELOPMENT</h1>
    <p>Have business in your pocket!</p>
    <a class="button is-rounded is-info is-inverted is-outlined is-uppercase has-text-weight-semibold">Details</a>
  </div>
  <div class="cards-item">
    <img class="image" alt="icon-web_development" src="https://coaxsoft.com/images/svg/technology/product_design.svg">
    <h1 class="has-text-weight-semibold">PRODUCT DESIGN</h1>
    <p>Express your style!</p>
    <a class="button is-rounded is-info is-inverted is-outlined is-uppercase has-text-weight-semibold">Details</a>
  </div>
</div>
