@import "../../styles.scss";

.control.has-button {
  width: 33.75rem;

  .infopack-input {
    height: 3.75rem;
    border-radius: 1.875rem;
    border-color: #D5DBE6;
    padding-left: 20px;
    line-height: 60px;
    box-shadow: none;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
  }

  .infopack-input:hover {
    border-color: #29c9ff;
  }

  .infopack-input:focus {
    box-shadow: none;
    border-color: #29c9ff;
    background-color: rgba(41, 201, 255, 0.05);
  }

  .is-right {
    position: absolute;
    right: 0;

    .button {
      height: 3.75rem;
      background-color: $blue-soft;
    }

    .button:hover {
      background-color: $blue;

    }
  }
}
