<footer class="footer columns">
  <div class="column">
    <div class="menu-item">
      <a href="">ABOUT</a>
      <a href="">CONTACT US</a>
      <a href="">CAREER</a>
      <a href="">BLOG</a>
    </div>
    <div class="social-links">
      <a href=""><i class="fab fa-dribbble"></i></a>
      <a href=""><i class="fab fa-facebook-f"></i></a>
      <a href=""><i class="fab fa-twitter"></i></a>
      <a href=""><i class="fab fa-instagram"></i></a>
    </div>
  </div>
  <div class="column info-box">
    <div class="columns is-flex">
      <div class="text">
        <p class="is-marginless">We estimate your project accurately.</p>
        <span>Calculating realistic project timelines.</span>
      </div>
      <div class="contact">
        <button class="button
                  is-primary
                  is-rounded
                  estimation-btn
                  has-text-weight-semibold
                  is-uppercase">
          GET ESTIMATION
        </button>
        <div>
          <p class="is-size-6 is-marginless">Tel: <a href="">+1 773-644-8871</a></p>
          <p class="is-size-6 is-marginless">Email: <a href="">sales@coaxsoft.com</a></p>
        </div>
      </div>
    </div>
  </div>
  <p class="copyright">©2008-2018 - COAX Software. All rights reserved.</p>
</footer>
