@import "../../../styles";

.footer {
  padding: 5.625rem;
  width: 100%;
  background-color: #0c2050;
  margin: 0;
  flex-wrap: wrap;
  @media screen and (max-width: $widescreen) {
    flex-direction: column;
  }
  @media screen and (max-width: $tablet) {
    padding: 5.625rem 1rem;
    text-align: center;
  }
}

.menu-item, .social-links {
  a {
    font-weight: 600;
    padding: 0 1.25rem;
    color: $blue-soft;
    transition: color 0.2s;

    &:hover {
      color: $blue-lighter;
    }
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}

.menu-item {
  margin: 0 2.5rem 4.375rem 0;
  @media screen and (max-width: $tablet) {
    margin: 0 0 2rem 0;
  }
}

.social-links {
  margin-bottom: 4.375rem;
  @media screen and (max-width: $tablet) {
    margin: 0 0 2rem 0;
  }
  a {
    padding: 0 1rem;
    font-size: 1.375rem;
  }
}

.info-box {
  flex: 0 0 550px;
  @media screen and (max-width: $widescreen) {
    flex: 0;
  }
  > .columns {
    @media screen and (max-width: $tablet) {
      flex-direction: column;
    }
  }
  .text {
    flex: 1 0 160px;
    @media screen and (max-width: $tablet) {
      flex: 0;
    }
    p {
      font-size: 1.25rem;
      font-weight: 700;
      line-height: 1.618em;
      color: #fff;
    }

    span {
      color: #7186b7;
      font-size: 0.9375rem;
      margin: 1rem 0;
      display: block;
      @media screen and (max-width: $tablet) {
        margin: 0 0 3rem;
      }
    }
  }

  .contact {
    .estimation-btn {
      padding: 1.375rem 2.5rem;
      line-height: 1;
      margin-bottom: 1.875rem;
    }

    p {
      color: #7186b7;
    }

    a {
      color: $blue-lighter;
    }
  }
}

.copyright {
  flex: 1 1 100%;
  color: #7186b7;
  margin-top: 3.125rem;
}
