<section class="hero is-medium is-info is-fullheight is-main-hero">
  <div class="hero-head">
    <app-header></app-header>
  </div>
  <!-- Hero head: will stick at the top -->

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="info-wrapper">
      <h1 class="title has-text-weight-bold">
        Your Dev Team in Ukraine
      </h1>
      <h2 class="subtitle">
        We hold one goal above the others: 100% client satisfaction
      </h2>
      <a class="button is-rounded is-info is-inverted is-outlined is-medium is-uppercase has-text-weight-semibold">Get more info</a>
    </div>
  </div>
</section>
