<app-section-container greyBackground="true" title="We have Lot's of Success Stories">
  <span subtitle>We have lots of stories to inspire you!</span>
  <div class="container stats-container">
    <div class="is-flex">
      <div>
        <span class="stat-number title is-1 has-text-weight-bold">95</span>
        <span class="stat-text title is-3 has-text-weight-bold">Projects</span>
      </div>
      <div>
        <span class="stat-number title is-1 has-text-weight-bold">27</span>
        <span class="stat-text title is-3 has-text-weight-bold">Clients more than year with us</span>
      </div>
      <div>
        <span class="stat-number title is-1 has-text-weight-bold">35</span>
        <span class="stat-text title is-3 has-text-weight-bold">Team members</span>
      </div>
      <div>
        <span class="stat-number title is-1 has-text-weight-bold">4</span>
        <span class="stat-text title is-3 has-text-weight-bold">Average product team</span>
      </div>
    </div>
    <div class="columns upwork-columns">
      <div class="column has-text-centered is-left-column is-flex">
        <img src="https://coaxsoft.com/images/svg/top_rated_agency.svg" alt="upwork badge">
        <span class="title is-6 has-text-weight-bold has-top-border">TOP RATED AGENCY</span>
        <p class="title is-5 has-text-weight-bold">Proven Upwork’s 100% Job Success Agency since 2014</p>
      </div>
      <div class="column is-right-column">
        <ul class="is-marginless">
          <li>
            <span>Total Jobs</span>
            <span class="has-text-weight-bold">44</span>
          </li>
          <li>
            <span>Total Hours</span>
            <span class="has-text-weight-bold">5,996</span>
          </li>
          <li>
            <span>Current Jobs</span>
            <span class="has-text-weight-bold">10</span>
          </li>
        </ul>
        <a href="#" class="button is-success has-text-weight-bold">Hire us on upwork</a>
      </div>
    </div>
  </div>
</app-section-container>
