<app-section-container
  title="Software Engineering"
  subtitle="We use the latest technologies to provide the best software engineering solutions that respond
  to the modern market needs."
>
  <div class="container">
    <bm-tabs modifierClass="is-medium is-fullwidth">
      <bm-tab>
        <bm-tab-title>
          <a>
            <img src="https://coaxsoft.com/images/svg/software_engineering/startup_ventures.svg" alt="">
            <p class="is-size-6 is-uppercase has-text-weight-semibold">Telecom</p>
          </a>
        </bm-tab-title>
        <div class="columns content-wrapper is-marginless" bm-tab-content>
          <div class="column is-one-third has-text-centered is-paddingless">
            <img class="background-image" src="https://coaxsoft.com/images/svg/icon_bg.svg" alt="">
            <img class="main-image" src="https://coaxsoft.com/images/svg/software_engineering/startup_ventures.svg"
                 alt="">
          </div>
          <div>
            <h1 class="is-title is-size-4 is-uppercase has-text-weight-semibold">TELECOM</h1>
            <p class="is-size-6">
              Our team of designers, programmers, and engineers work alongside leaders in the telecoms sector. Whether
              you’re looking to develop new systems or improve upon your current technologies, COAX develops industry
              leading support tools for telecoms organisations that help establish your brand as a market leader
              operating
              at the edge of advancement.
            </p>
          </div>
        </div>
      </bm-tab>

      <bm-tab>
        <bm-tab-title>
          <a>
            <img src="https://coaxsoft.com/images/svg/software_engineering/e_commerce.svg" alt="">
            <p class="is-size-6 is-uppercase has-text-weight-semibold">Tab 2</p>
          </a>
        </bm-tab-title>
        <div class="columns content-wrapper is-marginless" bm-tab-content>
          <div class="column is-one-third has-text-centered is-paddingless">
            <img class="background-image" src="https://coaxsoft.com/images/svg/icon_bg.svg" alt="">
            <img class="main-image" src="https://coaxsoft.com/images/svg/software_engineering/e_commerce.svg" alt="">
          </div>
          <div>
            <h1 class="is-title is-size-4 is-uppercase has-text-weight-semibold">E-COMMERCE</h1>
            <p class="is-size-6">
              Our talented COAX team will launch your E-Commerce platform at the cutting edge of innovation. We use
              slick
              UI/UX design, develop eye-catching features, and utilize efficient inventory management systems to grab
              more
              customers, increase sales and profitability, and improve brand recognition. All with powerful back-end
              systems in place.
            </p>
          </div>
        </div>
      </bm-tab>

      <bm-tab>
        <bm-tab-title>
          <a>
            <img src="https://coaxsoft.com/images/svg/software_engineering/healthcare.svg" alt="">
            <p class="is-size-6 is-uppercase has-text-weight-semibold">HEALTHCARE</p>
          </a>
        </bm-tab-title>
        <div class="columns content-wrapper is-marginless" bm-tab-content>
          <div class="column is-one-third has-text-centered is-paddingless">
            <img class="background-image" src="https://coaxsoft.com/images/svg/icon_bg.svg" alt="">
            <img class="main-image" src="https://coaxsoft.com/images/svg/software_engineering/healthcare.svg" alt="">
          </div>
          <div>
            <h1 class="is-title is-size-4 is-uppercase has-text-weight-semibold">HEALTHCARE</h1>
            <p class="is-size-6">
              The Healthcare and MedTech sectors require a steady, experienced hand. Whether you need to establish
              secure
              databases or develop cloud-based applications that are HIPAA compliant, COAX has you covered for all your
              specialist sector requirements. So, you can focus on what you do best - diagnosing, treating, and
              improving
              the quality of life of your customers.
            </p>
          </div>
        </div>
      </bm-tab>

      <bm-tab>
        <bm-tab-title>
          <a>
            <img src="https://coaxsoft.com/images/svg/software_engineering/startup_ventures.svg" alt="">
            <p class="is-size-6 is-uppercase has-text-weight-semibold">MONEY TRANSFER</p>
          </a>
        </bm-tab-title>
        <div class="columns content-wrapper is-marginless" bm-tab-content>
          <div class="column is-one-third has-text-centered is-paddingless">
            <img class="background-image" src="https://coaxsoft.com/images/svg/icon_bg.svg" alt="">
            <img class="main-image" src="https://coaxsoft.com/images/svg/software_engineering/heavy_industry.svg"
                 alt="">
          </div>
          <div>
            <h1 class="is-title is-size-4 is-uppercase has-text-weight-semibold">MONEY TRANSFER</h1>
            <p class="is-size-6">
              Transferring money, while convenient, comes with potential risks. Whether it’s web, mobile, or social
              media
              based, COAX is an expert in money transfer data protection and security. Which means you can confidently
              rely
              on your technology with the assurance that your customers will put their trust in you, instead of your
              competitors.
            </p>
          </div>
        </div>
      </bm-tab>
    </bm-tabs>
  </div>
</app-section-container>
