<app-page-container>
  <app-section-container title="Careers" customClassName="grid-container has-text-centered">
    <span subtitle>Interested in internship or full-time position. Let us know.</span>
    <a href="mailto:hr@coaxsoft.com">hr@coaxsoft.com</a>
  </app-section-container>

  <div class="container is-grid">
    <div class="" style="background-image: url(https://coaxsoft.com/images/IMG_09.jpg)"></div>
    <div class="" style="background-image: url(https://coaxsoft.com/images/IMG_0030.jpg)"></div>
    <div class="" style="background-image: url(https://coaxsoft.com/images/IMG_0034.jpg)"></div>
    <div class="" style="background-image: url(https://coaxsoft.com/images/IMG_0071.jpg)"></div>
    <div class="" style="background-image: url(https://coaxsoft.com/images/IMG_36.jpg)"></div>
    <div class="" style="background-image: url(https://coaxsoft.com/images/IMG_8564.jpg)"></div>
  </div>

  <app-section-container title="Benefits" customClassName="cards-section container">
    <div class="columns has-text-centered">
      <div class="column">
        <img src="https://coaxsoft.com/images/svg/benefits/flexible_hours.svg" alt="">
        <h6 class="is-dark has-text-weight-bold">FLEXIBLE HOURS</h6>
        <p>Adjust your plan to work efficiently.</p>
      </div>
      <div class="column">
        <img src="https://coaxsoft.com/images/svg/benefits/parties.svg" alt="">
        <h6 class="is-dark has-text-weight-bold">PARTIES</h6>
        <p>We go out regularly every quarter.</p>
      </div>
      <div class="column">
        <img src="https://coaxsoft.com/images/svg/benefits/gaming.svg" alt="">
        <h6 class="is-dark has-text-weight-bold">GAMING</h6>
        <p>Like playing PS4? We have a companion!</p>
      </div>
      <div class="column">
        <img src="https://coaxsoft.com/images/svg/benefits/fruits.svg" alt="">
        <h6 class="is-dark has-text-weight-bold">FRUITS</h6>
        <p>We have apples and oranges in the fridge.</p>
      </div>
    </div>
    <div class="columns has-text-centered">
      <div class="column">
        <img src="https://coaxsoft.com/images/svg/benefits/24_days_of_vacation.svg" alt="">
        <h6 class="is-dark has-text-weight-bold">24 DAYS OF VACATION</h6>
        <p>You have 24 days off through the year</p>
      </div>
      <div class="column">
        <img src="https://coaxsoft.com/images/svg/benefits/imac.svg" alt="">
        <h6 class="is-dark has-text-weight-bold">IMAC</h6>
        <p>We offer an iMac in the office.</p>
      </div>
      <div class="column">
        <img src="https://coaxsoft.com/images/svg/benefits/language_lessons.svg" alt="">
        <h6 class="is-dark has-text-weight-bold">LANGUAGE LESSONS</h6>
        <p>Improve your skills to work qualitatively.</p>
      </div>
      <div class="column">
        <img src="https://coaxsoft.com/images/svg/benefits/leaders_support.svg" alt="">
        <h6 class="is-dark has-text-weight-bold">LEADER’S SUPPORT</h6>
        <p>We help you grow and mentor you.</p>
      </div>
    </div>
  </app-section-container>

  <app-section-container title="Current Opportunities" customClassName="list-section container">
    <ul>
      <li><a href="#" class="is-size-5">Project Manager</a></li>
      <li><a href="#" class="is-size-5">Quality Assurance (QA)</a></li>
      <li><a href="#" class="is-size-5">Recruiter</a></li>
      <li><a href="#" class="is-size-5">Front End Developer</a></li>
      <li><a href="#" class="is-size-5">Middle Ruby on Rails Developer</a></li>
      <li><a href="#" class="is-size-5">Trainee DevOps</a></li>
      <li><a href="#" class="is-size-5">Project Coordinator</a></li>
      <li><a href="#" class="is-size-5">Sales Manager</a></li>
    </ul>
  </app-section-container>
</app-page-container>
