<app-page-container>
  <app-section-container title="Pricing Models" customClassName="container">
    <span subtitle>COAX has a variety of pricing models and is always glad to meet your specific needs<br>by adjusting
      the model that suits both the company and client.</span>
    <div class="container tabs-section">
      <app-tabs [tabs]="tabs"></app-tabs>
    </div>
  </app-section-container>

  <app-section-container title="Approach" customClassName="container">
    <span subtitle>COAX works in a collaboration with you. Our team quickly and easily responds<br>to changes, provides
    fast solutions, develops projects that meet all your<br>requirements and needs, and controls your costs.</span>
    <div class="columns container stages">
      <div class="column is-one-third">
        <div class="title-box is-flex">
          <img src="https://coaxsoft.com/images/svg/approach/first_stage.svg" alt="">
          <h6 class="has-text-weight-bold is-uppercase">First stage</h6>
        </div>
        <p class="info-box is-size-5">
          We can help you get started and build your project. We will implement all your desires and wishes into
          reality, create stories, wireframes, personas and everything needed for YOUR BUSINESS. We can design your
          project as this is an important step for any future successful development. We can research and evaluate your
          potential consumers, write stories, wireframes and come up with a well-defined startup project.
        </p>
      </div>
      <div class="column is-one-third">
        <div class="title-box is-flex">
          <img src="https://coaxsoft.com/images/svg/approach/second_stage.svg" alt="">
          <h6 class="has-text-weight-bold is-uppercase">SECOND stage</h6>
        </div>
        <p class="info-box is-size-5">
          Once the project is built, we will start the development stage. Our team WILL ALWAYS STAY IN touch with you
          informing you ON how everything goes, what project step is performed at the moment to keep you on track about
          every detail of your project. At this point we program, monitor, check the code, AND make the test drive etc.
          You WILL STAY INFORMED about EACH progress update.
        </p>
      </div>
      <div class="column is-one-third">
        <div class="title-box is-flex">
          <img src="https://coaxsoft.com/images/svg/approach/third_stage.svg" alt="">
          <h6 class="has-text-weight-bold is-uppercase">THIRD stage</h6>
        </div>
        <p class="info-box is-size-5">
          Once everything is coded and programmed, the project must be launched and this is not the end. To make your
          project a success we need to make sure everything is functioning, addressing user’s needs, simple to
          understand and easy to use. Every project requires new options, features, further improvements and
          enhancements. Thus we provide you with further optimization, usage analytics, project monitoring, testing and
          new options development.
        </p>
      </div>
    </div>
  </app-section-container>
</app-page-container>
