<app-page-container isFloatingHeader='true'>
  <app-hero></app-hero>

  <app-section-container title="Software Engineering">
    <span subtitle>We use the latest technologies to provide the best software engineering<br>solutions that respond
    to the modern market needs.</span>
    <div class="container">
      <app-tabs [tabs]="tabs"></app-tabs>
    </div>
  </app-section-container>

  <app-stats></app-stats>

  <app-section-container title="Clients' Testimonials">
    <span subtitle>Just a few words from our clients</span>
    <div class="container">
      <bm-carousel>
        <bm-carousel-item bm-carousel-item>
          <img src="https://wikiki.github.io/images/merry-christmas.jpg" alt="" width="500" height="310"/>
          <div>Merry Christmas</div>
        </bm-carousel-item>
        <bm-carousel-item bm-carousel-item>
          <img src="https://wikiki.github.io/images/singer.jpg" alt="" width="500" height="610"/>
          <div>Original Gift: Offer a song with</div>
        </bm-carousel-item>
        <bm-carousel-item bm-carousel-item>
          <img src="https://wikiki.github.io/images/sushi.jpg" alt="" width="500" height="310"/>
          <div>Sushi time</div>
        </bm-carousel-item>
        <bm-carousel-item bm-carousel-item>
          <img src="https://wikiki.github.io/images/life.jpg" alt="" width="500" height="310"/>
          <div>Life</div>
        </bm-carousel-item>
        <bm-carousel-item bm-carousel-item>
          <img src="https://wikiki.github.io/images/singer.jpg" alt="" width="500" height="310"/>
          <div>Original Gift: Offer a song with</div>
        </bm-carousel-item>
      </bm-carousel>
    </div>
  </app-section-container>

  <app-infopack></app-infopack>
</app-page-container>
