@import "../../../styles";

$tab-border-color: #e0e5f0;
$tab-bg-hover: #f7f9fd;

::ng-deep {
  .tabs:not(:last-child) {
    margin-bottom: 0;
    li {
      flex-basis: 0;
      &.is-active a:hover {
        border-bottom-color: #3273dc;
      }
    }
    a {
      flex-direction: column;
      border-bottom-width: 3px;
      border-bottom-color: $tab-border-color;
      padding: 1.875rem 1.25rem;

      &:hover {
        border-bottom-color: $tab-border-color;
        background-color: $tab-bg-hover;
      }
    }
    p {
      margin-top: 0.9375rem;
    }

  }

  .content-wrapper {
    box-shadow: 0 0.125rem 1.875rem 0 $tab-border-color;
    padding: 3.75rem 3.75rem 3.75rem 0;
    > div {
      position: relative;
    }
    .is-title {
      margin-bottom: 1.875rem;
    }
    .background-image {
      max-width: 220px;
      max-height: 220px;
      height: 100%;
      width: 100%;
    }
    .main-image{
      max-width: 120px;
      width: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
