<app-page-container>
  <app-breadcrumb></app-breadcrumb>

  <app-loader [isActive]="pageData"></app-loader>
  <div *ngIf="pageData">
    <div class="container is-size-5">
      <div class="columns">
        <div class="column is-8">
          <h1 class="is-dark is-text is-size-1 has-text-weight-bold">{{pageData.title}}</h1>
          <div class="columns is-main-info">
            <div class="column is-4 image-block">
              <img class="is-background-image" src="https://coaxsoft.com/images/svg/icon_bg.svg" alt="">
              <img class="is-main-image" [src]="pageData.imageSrc" alt="">
            </div>
            <div class="column is-info-block">
              <p>{{pageData.info}}</p>
            </div>
          </div>
          <div class="description-section" [innerHtml]="pageData.description">
            <p>The first thing that any visitor sees is certainly the website design. It creates the initial impression,
              which
              the website visitor will have virtually forever. The website for some users is the first and last thing
              they
              will associate your company with. That’s exactly why you have to be proud of your website, invest maximum
              of
              efforts into it, and remember that it is to be upgraded regularly.</p>
            <p>The web app design allows provision of the Internet users with the convenient online tools. Functional
              and
              colorful web applications increase the brand appeal, allowing formation of a virtual ecosystem around it
              and
              thus increasing its demand.</p>
            <p>The design development is a complex technological process with its rules and logics, including a
              plurality
              of
              stages. However, at the center of any design there are the original concepts that are realized in the form
              of
              specific visual solutions and that serve for the successful implementation of the whole project.</p>
            <p>The stages and deadlines for implementation of each project depend on the type of the design and nature
              of
              the
              set tasks. In order to best meet the customer’s needs, we make each development stage absolutely
              transparent.
              Creating a website design requires careful consideration of every detail. Such a work includes:</p>
            <ul class="custom-list is-ordered">
              <li>
                <p>
                  <span class="is-dark has-text-weight-bold">Preparation</span>
                  You fill in the brief form, we define the business task of the project together, examine, and analyze
                  similar
                  competitive sites.
                </p>
              </li>
              <li>
                <p>
                  <span class="is-dark has-text-weight-bold">Discussion</span>
                  The process involves not only designers, but also the leader that is leading the project. At this
                  time,
                  original ideas are generated and the structure, colors, usability, and many other things are worked
                  out.
                </p>
              </li>
              <li>
                <p>
                  <span class="is-dark has-text-weight-bold">Model creation.</span>
                  At this stage, it is decided where the main elements of the site will be located and how they will
                  look.
                  A
                  comfortable and user-friendly navigation is also developed here. The result is several design
                  variants.
                </p>
              </li>
              <li>
                <p>
                  <span class="is-dark has-text-weight-bold">Approval</span>
                  Here you assess how the updated appearance of the Internet resource corresponds to the corporate
                  spirit
                  of
                  the
                  company. If necessary, some changes are made.
                </p>
              </li>
            </ul>
            <p>The unique design is the trademark of any brand. The original visual solutions enhance brand awareness and stimulate buying activity. The popularity of the web resources with an impressive and stylish design is significantly higher than of the sites with a standard design. </p> <p>Would you like to get an original, memorable, and colorful design that outlines your product against the background of the competitors’ offers? Our designers are ready to help you. We do not produce template designs, but select a set of unique solutions for each individual project, taking into account the distinctiveness of the brand and its benefits. </p>
          </div>
        </div>
        <div class="column has-floating-element">
          <div class="floating-block">
            <h1 class="block-title">Get Our Infopack</h1>
            <span class="block-info">Best quick guide to start working with us</span>
            <div class="input-box">
              <input type="email" placeholder="Enter your Email">
            </div>
            <button>Send me the kit!</button>
          </div>
        </div>
      </div>
    </div>

    <div class="technologies-wrapper">
      <h1 class="is-title container">Technologies We Use</h1>
      <div class="has-gray-background">
        <div class="container">
          <a *ngFor="let item of pageData.technologyItems" class="technology-item">
            <img [src]="item.itemImage" alt="">
            <span>{{item.itemName}}</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="services-wrapper container">
    <h1 class="is-text is-dark is-size-3 has-text-weight-bold">Other Services</h1>
    <div class="is-flex">
      <div class="service-item">
        <img src="https://coaxsoft.com/images/svg/technology/product_design.svg" alt="">
        <h6 class="item-title">Product Design</h6>
        <span class="item-info">Express your style!</span>
        <button>Details <i class="fas fa-angle-right"></i></button>
      </div>
      <div class="service-item">
        <img src="https://coaxsoft.com/images/svg/technology/web_development.svg" alt="">
        <h6 class="item-title">Web Development</h6>
        <span class="item-info">Implementing ideas to the successful solutions!</span>
        <button>Details <i class="fas fa-angle-right"></i></button>
      </div>
    </div>
  </div>
</app-page-container>
